/* Ensure the toolbar elements are vertically aligned */
mat-toolbar-row {
  align-items: center;
  justify-content: space-between; /* It will ensure that there's space between the app name and the two buttons */
}

.spacer {
  flex: 1;
}

/* Space between the icons and their respective labels */
mat-icon {
  margin-right: 8px;
}

/* To make the links stand out more and look interactive */
a[mat-button]:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* This will give a slight highlight to the button when hovered */
}
