/* Styles for Toolbar */
mat-toolbar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.spacer {
  flex: 1;  /* This will push the navigation links to the right */
}

a.mat-raised-button {
  margin-left: 16px;
}

/* Styles for Card */
mat-card {
  max-width: 800px;
  margin: 30px auto;  /* Center the card and give top and bottom space */
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);  /* Add a subtle shadow */
}

mat-card-header {
  text-align: justify;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 16px;
}

mat-card-content {
  text-align: center;
  font-size: 1.6em;
}
/* For the toolbar title text */
mat-toolbar span {
    font-size: 1.5em;  /* This will make the font 50% larger than the base font size */
}

/* For the navigation links/buttons in the toolbar */
a.mat-raised-button {
    font-size: 1.2em;  /* Adjust as per your requirement */
}


