.user-list-container {
  width: 100%;
}

mat-table {
  width: 100%;
}

mat-header-cell, mat-cell {
  padding: 16px;
  text-align: left;
}

.image-name-container {
  display: flex;
  align-items: center;
}

.image-name-container img {
  width: 300px;
  height: auto;
  margin-right: 20px;
}

.name-container {
  font-size: 2em;
  color: gray;
  font-weight: bolder;
}
.name-container {
  padding-left: 10px;
}


mat-row {
  cursor: pointer; /* Changes the cursor to a hand pointer on hover */
  transition: background-color 0.2s; /* Smooth transition for hover effect */
}

mat-row:hover {
  background-color: rgba(0,0,0,0.05); /* A light gray background on hover */
}
mat-header-cell {
    height: 70px;
    line-height: 70px;
    font-size: 3em;  /* This will make the font 50% larger than the base font size */
    font-weight: bolder;
}
.image-name-container {
  display: flex;
  align-items: center;
}

.name-container {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.job-title {
  font-size: 0.5em; /* Adjust the font size here */
  color: #0b0a0a;       /* A slightly grey color for distinction */
  margin-top: 6px;   /* Adjust spacing between name and job title here */
}
