/* user-list.component.css */

.user-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;  /* This will center-align children horizontally */
  width: 75%;
  margin: 0 auto;  /* This will center the container itself */
}

.user-card {
  width: 100%;  /* Use the full width of the parent, which is .user-list-container in this case */
  margin: 15px 0;  /* Updated margin to only apply vertically */
}

.user-content {
  display: flex;
  align-items: center;
}

.user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

h2 {
  margin: 0;
  margin-bottom: 10px;
}
/* user-list.component.css */

.user-card {
  margin: 15px;
}

.user-content {
  display: flex;
  align-items: center;
}

.user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;  /* Ensures the image maintains its aspect ratio */
  margin-right: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

h2 {
  margin: 0;  /* Reset default margin */
  margin-bottom: 10px;
}

